.about {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  max-width: 1000px;
}

.about-flex {
  display: flex;
  justify-content: center;
}

.about-me {
  font-family: 'Amatic SC', cursive;
  color: rgb(194, 135, 135);
  font-weight: bold;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 20px;
    max-width: 500px;
  }
}
@media screen and (max-width: 320px) {
  .about {
    font-size: 15px;
    max-width: 300px;
  }
}
