.about {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  max-width: 1000px;
}

.about-flex {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 20px;
    max-width: 500px;
  }
}
@media screen and (max-width: 320px) {
  .about {
    font-size: 15px;
    max-width: 300px;
  }
}
