/* Add a black background color to the top navigation */
.topnav {
  height: 50px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  padding: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(194, 135, 135);
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {
    display: flex;
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .topnav a {
    display: flex;
    font-size: 15px;
    padding: 5px 5px;
  }
}
