.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 60%;
  height: 150vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
