.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 60%;
  height: 150vh;
}

body {
  font-family: "Lato", sans-serif;
  padding: 10px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: rgb(194, 135, 135);
}

.fa-linkedin:before,
.fa-instagram:before,
.fa-twitter:before,
.fa-github:before {
  font-size: xxx-large;
  margin: 5px;
}
